{% extends "base.html" %}

{% block title %}
    Prediction de la tumeur du cerveau
{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
       <section class="content-header">
          <h1>
             Prediction : Tumeur du cerveau
          </h1>
          <ol class="breadcrumb">
             <li><a href="#"><i class="fa fa-dashboard"></i> Acceuil</a></li>
             <li><a href="/tumour">Tumeur du cerveau</a></li>
          </ol>
       </section>
       <section class="content">
        {% comment %} <form action="{% url 'diagnostic:tumour_result' %}" method="POST">
            {% csrf_token %}
            <input type="number" name="coma" placeholder="Etat du coma">
            <input type="number" name="headache" placeholder="Etat du headache">
            <input type="submit" name="valider">
        </form> {% endcomment %}
        <div class="box box-default">
         <div class="box-header with-border">
            <h3 class="box-title">Predire</h3>
            <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
         </div>
         <div class="box-body">
            <div class="row">
               <form action="{% url 'diagnostic:tumour_result' %}" method="POST">
                  {% csrf_token %}
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>Cancer métastatique</label>
                        <select class="form-control select2" name="cancer" style="width: 100%;">
                           <option value="1" selected="selected">Oui</option>
                           <option value="0">Non</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <label>Augmentation du calcium sérique</label>
                        <select class="form-control select2" name="calcium" style="width: 100%;">
                           <option value="1" selected="selected">Oui</option>
                           <option value="0">Non</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>Coma</label>
                        <select class="form-control select2" name="coma" style="width: 100%;">
                           <option value="1" selected="selected">Oui</option>
                           <option value="0">Non</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <label>Maux de tete</label>
                        <select class="form-control select2" name="tete" style="width: 100%;">
                           <option value="1" selected="selected">Oui</option>
                           <option value="0">Non</option>
                        </select>
                     </div>
                     <input type="submit" name="valider" class="btn btn-primary">
                  </div>
                  
               </form>
            </div>
         </div>
         <div class="box-footer">
            
         </div>
      </div>
       </section>
    </div>
 </div>
{% endblock content %}
